@font-face{
    font-family: Lunchbox Regular;
    src: url(Lunchbox_Regular/Lunchbox.ttf);
}

body{
    background:rgba(212, 97, 25, 0.1);
    color: #404347;
    font-family: Lunchbox Regular;
    position: absolute;
    display:block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#navbar{
    background: #ff9900;
    margin-top: 0px;
    height: 60px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;


}


#navbar ul li {
    list-style-type: none;
}

#navbar ul li a{
    list-style-type: none;
    font-size:30px;
    color: white;
}

#titulo{
    position: relative;
    margin-top: 80px;
}

h1{
    text-align: center;
    font-size: 80px;
    margin-top: 65px;
    position: relative;
}

#personajes{
    display:block;
}
.mujer{
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 250px;
}

.hombre{
    cursor: pointer;
    position: relative;
    float:right;
    margin-right: 250px;
}



#nombre{
    font-family: Lunchbox Regular;
    width: 350px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    display:block;
    position:relative;
    margin: 10px auto;
    color: #53637d;
    padding: 10px 0px 0px 0px;
}

.ingresar{
    width: 150px;
    height: 60px;
    text-align: center;
    display:block;
    position:relative;
    margin: 10px auto;
    font-size: 30px;
    font-family: Lunchbox Regular;
    padding: 5px 0px 0px 0px;
    color: #53637d;
    background-color: #f8e9d3;
    box-shadow: -3px 3px #53637d;
    border: solid #f8e9d3;
    border-radius: 5px ;
}

#inp{
    display: block;
}
.titulo_niveles{
  position: relative;
  margin-top: 80px;
}
#titulo_slide4{
  position: relative;
  margin-top: 80px;
  font-size: 55px;
  color: #42424A;
}
#nro{
  position: relative;
  font-size: 100px;
  color: #C13B18;
}
#dato1{
  position: relative;
  margin-top: -80px;
  font-size: 55px;
  color: #42424A;
}

.flex{
    display: flex;
}

.radio_q{
    width: 2em;
    height: 2em;
}

.res_radio{
    font-size: 30px;
}
#nvl_comida{
  position: relative;
  float: left;
  margin-left: 85px;
}
#nvl_acento_idioma{
  position: relative;
  float: center;
  margin-left: 155px;
  }
#nvl_tradicion_cultura{
  position: relative;
  float: right;
  margin-right: 85px;
}
#mujer_dialogo1{
  float: right;
  position: relative;
  margin-right: 100px;
  margin-top:-30px;
}
#mujer_asiatica1{
  position:relative;
  float:left;
  margin-left: 200px;
}
#texto1{
  position: relative;
  text-align: justify;
  font-size: 30px;
  position: bottom;
  margin-top:500px;
  margin-left: 200px;
  margin-right: 700px;
}
.pregunta{
  background-color: #A9A5A3;
  height: 350px;
}
#titulo_pregunta1{
  position: relative;
  color: #43474C;
}
#respuestas1{
  background-color: #db5816;
  width: 300px;
  height: 130px;
  font-family: Lunchbox Regular;
  font-size: 30px;
  border-radius: 10px;
  float: left;
  margin-left: 100px;

}
#respuestas2{
  background-color: #db5816;
  width: 300px;
  height: 130px;
  font-family: Lunchbox Regular;
  font-size: 30px;
  border-radius: 10px;
  margin-left: 210px;
}
#respuestas3{
  background-color: #db5816;
  width: 300px;
  height: 130px;
  font-family: Lunchbox Regular;
  font-size: 30px;
  border-radius: 10px;
  float:right;
  margin-right: 100px;
}
