@font-face{
    font-family: Lunchbox Regular;
    src: url(Lunchbox_Regular/Lunchbox.ttf);
}

body{
    background: rgba(255, 116, 61, 0.1);
    color: #404347;
    font-family: Lunchbox Regular;
    position: absolute;
    display:block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 1080px;
    max-width: 1920px;
    cursor: url("cursor/cursor_normal.png"), auto;
}
#navbar{
    background: rgba(255, 116, 61, 1);
    margin-top: 0px;
    height: 60px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;


}


#navbar ul li {
    list-style-type: none;

}

#navbar ul li a{
    list-style-type: none;
    font-size:30px;
    color: white;
    padding-top: 3px;

}

h1{
    text-align: center;
    font-size: 80px;
    margin-top: 65px;
    position: relative;
}

#personajes{
    display:block;
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    opacity: 0;

}

#mujer_user{
    cursor: url("cursor/cursor_pointer.png"), auto;
    position: relative;
    float: right;
    margin-right: 10%;
    height: 400px;
    width: 400px;

    
}

#hombre_user{
    cursor: url("cursor/cursor_pointer.png"), auto;
    position: relative;
    float:left;
    margin-left: 10%;
}

#nombrepapa{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;

    

}

#mujerAn{
    height: 500px;
    width: 500px;
    float: right;
    position: relative;
    bottom: 1;
    margin-right: 1;
}


#nombre{
    font-family: Lunchbox Regular;
    width: 350px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    display:block;
    position:relative;
    margin-left: 300px;
    margin: 10px auto;
    color: #404347;
    padding: 10px 0px 0px 0px;
}
#saludo{
    font-size: 200px;
}
.ingresar{
    width: 150px;
    height: 60px;
    text-align: center;
    display:block;
    cursor: url('cursor/cursor_pointer.png'), auto;
    margin: 10px auto;
    font-size: 30px;
    font-family: Lunchbox Regular;
    padding: 5px 0px 0px 0px;
    color: #404347;
    background-color: #e1743d;
    box-shadow: -3px 3px #404347;
    border: solid #e1743d;
    border-radius: 5px ;
}

#inp{
    display: block;
}
.titulo_niveles{
  position: relative;
  margin-top: 0px;
  font-size: 80px; 
  padding: 0px 15px;
}

#espacio{
    height: 15px;
}
#espacio2{
    height: 120px;
    position: sticky;
    text-align: center;
    top: 30px;
}
#espacio3{
    height: 500px;

    text-align: center;

}

#headerdatos{

    height: auto;




}

#bodyheader{
    height: 70%;
    position: sticky;
    top: 0px;
}

#headerdatos h1{
    font-size: 80px;
    margin: 10px;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    


}
#headerdatos #nro{
    font-size: 150px;
    margin: 0px;
    text-align: center;
    margin-top: 10px;
}

#titulo_slide4{
  position: relative;
  margin-top: 80px;
  font-size: 80px;
  color: #42424A;
  padding-top: 30px;
}

#letrasn{
    top: 0%;
    vertical-align: middle;
    font-size: 80px;
    color: #42424A;
    margin-bottom: 20px;
  }
#nro{
  position: relative;
  font-size: 100px;
  color: #C13B18;
}
#dato1{
  position: relative;
  margin-top: -80px;
  font-size: 55px;
  color: #42424A;
}
#dato2{
    position: relative;
    margin: 80px;
    padding: 120px;
    font-size: 55px;
    color: #42424A;
  }

.flex{
    display: flex;
    position: center;
}

.radio_q{
    width: 3em;
    height: 3em;
}

.radio_res{
    font-size: 50px;
}


.container{
    margin: 0 auto;
}
.form{
    height: 150px;
    width: 150px;
}

/*#btnA{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 100px;
  
  }
#btnB{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    margin-left: 210px;
  }
#btnC{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    float:right;
    margin-right: 100px;
  } */
.flex-container{
    display: inline-flex;
    width: 90%;
    justify-content: center;
}  

.div_respuestas{
    cursor: url("cursor/cursor_pointer.png"), auto;
    background-color: #db5816;
    width: 300px;
    height: 200px;
    font-family: Lunchbox Regular;
    font-size: 35px;
    border-radius: 10px;
    margin: auto 87px;
    

}
.div_respuestas:hover{

    background-color: #c03600;
    transition-duration: 0.5s;
    color:#f8e9d3

 
}
.parr {
    font-size: 35px;
    height: auto;
    max-width: 1000px;
    padding: 5px 15px;
}

#ninacomiendo{
    z-index: -20;
    position: absolute;
    top:0px;
    left:0px;
    opacity: 0.4;
}
.parent {
   
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
   
}

.div_parr{
    position: relative;
    z-index: 1;
    max-width: 75%;
    height: 100%;
    float: left;
}

#divRes1{
    position: absolute;
    z-index: 2;
    top: 0px;
}


.sidenav {
    
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(255, 116, 61, 1);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    font-family: Lunchbox Regular;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;

}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#nav{
    z-index: 10;
}

.pre-datos{
    font-size: 50px;
;
}

#containerSVG{
    height: 10%;
    width: 10%;
    display: flex;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;

}



svg{
    cursor: url("cursor/cursor_pointer.png"), auto;
}
.p{
    float: right;
    width: 20%;
    position: relative;
    align-items: flex-end;
}

#p1{
    position: relative;

}

.n1{
    position: absolute;
}

#p2{
    position: relative;

}

.n2{
    position: absolute;
}

#p3{
    position: relative;

}

.n3{
    position: absolute;
}

#p4{
    position: relative;

}

.n4{
    position: absolute;
}

#p5{
    position: relative;

}

.n5{
    position: absolute;
}

.triste{
    opacity: 0;
}

.feliz{
    opacity: 0;
}

.frase p{
    
    font-size: 30px;
    text-align: center;
    padding: 10 10;


}

.frase1{
    opacity: 0;
    position: relative;

    border: 5px solid #404347;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    cursor: url("cursor/cursor_pointer.png"), auto;
    width: 410px;
    transform: translate(-25%,20%);
    background-color: #ffffff95;

}
.n{
    color:#C13B18
}
.frase2{
    opacity: 0;
    position: relative;

    border: 5px solid #404347;
    text-align: center;
    border-radius: 10px;
    z-index: 8;
    cursor: url("cursor/cursor_pointer.png"), auto;
    width: 410px;
    transform: translate(-25%,50%);
    background-color: #ffffff95;

}

#bodypg4{
    height: 350%;
}

#mainContent{
    position: relative;
    top:-60px;
    width: 100%;
}



