@font-face{
    font-family: Lunchbox Regular;
    src: url(Lunchbox_Regular/Lunchbox.ttf);
}

body{
    background: rgba(255, 99, 0, 0.1);
    color: #404347;
    font-family: Lunchbox Regular;
    position: absolute;
    display:block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
}
#navbar{
    background: rgba(255, 99, 0, 1);
    margin-top: 0px;
    height: 60px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;


}


#navbar ul li {
    list-style-type: none;
}

#navbar ul li a{
    list-style-type: none;
    font-size:30px;
    color: white;
}

h1{
    text-align: center;
    font-size: 80px;
    margin-top: 65px;
    position: relative;
}

#personajes{
    display:block;
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    opacity: 0;

}
#mujer_user{
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 250px;
}

#hombre_user{
    cursor: pointer;
    position: relative;
    float:right;
    margin-right: 250px;
}



#nombre{
    font-family: Lunchbox Regular;
    width: 350px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    display:block;
    position:relative;
    margin: 10px auto;
    color: #53637d;
    padding: 10px 0px 0px 0px;
}

.ingresar{
    width: 150px;
    height: 60px;
    text-align: center;
    display:block;
    position:static;
    margin: 10px auto;
    font-size: 30px;
    font-family: Lunchbox Regular;
    padding: 5px 0px 0px 0px;
    color: #53637d;
    background-color: #f8e9d3;
    box-shadow: -3px 3px #53637d;
    border: solid #f8e9d3;
    border-radius: 5px ;
}

#inp{
    display: block;
}
.titulo_niveles{
  position: relative;
  margin-top: 10px;
  font-size: 80px; 
  padding: 10px 15px;
}

#espacio{
    height: 15px;
}

#espacio2{
    height: 200px;
    position: sticky;
    top: 30px;
    text-align: center;
}

#headerdatos{
    margin:30px 0px;
    height: 2300px;

}

#headerdatos h1{
    font-size: 80px;
    margin: 10px;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    


}
#headerdatos #nro{
    font-size: 150px;
    margin: 0px;
    text-align: center;
    margin-top: 10px;
}

#titulo_slide4{
  position: relative;
  margin-top: 80px;
  font-size: 80px;
  color: #42424A;
  padding-top: 30px;
}

#letrasn{
    top: 0%;
    vertical-align: middle;
    font-size: 80px;
    color: #42424A;
    margin-bottom: 20px;
  }
#nro{
  position: relative;
  font-size: 100px;
  color: #C13B18;
}
#dato1{
  position: relative;
  margin-top: -80px;
  font-size: 55px;
  color: #42424A;
}
#dato2{
    position: relative;
    margin: 80px;
    padding: 120px;
    font-size: 55px;
    color: #42424A;
  }

.flex{
    display: flex;
    position: center;
}

.radio_q{
    width: 3em;
    height: 3em;
}

.radio_res{
    font-size: 50px;
}


.container{
    margin: 0 auto;
}
.form{
    height: 150px;
    width: 150px;
}

/*#btnA{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 100px;
  
  }
#btnB{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    margin-left: 210px;
  }
#btnC{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    float:right;
    margin-right: 100px;
  } */
.flex-container{
    display: inline-flex;
}  

.div_respuestas{
    background-color: #db5816;
    width: 300px;
    height: 140px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    margin-right: 100px;
}
.parr {
    font-size: 40px;
    height: 50%px;
    width: 1000px;
}

.parent {
    position: relative;
    width: fit-content;
    height: 100px;;
}

.div_parr{
    position: relative;
    z-index: 1;
}

#divRes1{
    position: absolute;
    z-index: 2;
    top: 0px;
}


.sidenav {
    
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 99, 0, 1);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    font-family: Lunchbox Regular;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pre-datos{
    font-size: 50px;
;
}




svg{
    cursor: pointer;

}

.p{
    float: right;
    width: 20%;
    position: relative;
}

#p1{
    position: relative;

}

.n1{
    position: absolute;
}

#p2{
    position: relative;

}

.n2{
    position: absolute;
}

#p3{
    position: relative;

}

.n3{
    position: absolute;
}

#p4{
    position: relative;

}

.n4{
    position: absolute;
}

#p5{
    position: relative;

}

.n5{
    position: absolute;
}

.triste{
    opacity: 0;
}

.feliz{
    opacity: 0;
}

.frase p{
    
    font-size: 30px;
    text-align: center;


}

.frase1{
    opacity: 0;
    position: relative;

    border: 5px solid #53637d;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    width: 410px;
    transform: translate(-25%,40%);
    background-color: #ffffff95;

}
.frase2{
    opacity: 0;
    position: relative;

    border: 5px solid #53637d;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    width: 410px;
    transform: translate(-25%,40%);
    background-color: #ffffff95;

}
#niv{
    font-size: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #C13B18;
}
.il{
    float: right;
    width: 33.33%;
    position: relative;
}

#ilvl1{
    position: relative;

}

.iconlvl1{
    position: absolute;
}

#ilvl2{
    position: relative;

}

.iconlvl2{
    position: absolute;
}

#ilvl3{
    position: relative;

}

.iconlvl3{
    position: absolute;
}

