@font-face{
    font-family: Lunchbox Regular;
    src: url(Lunchbox_Regular/Lunchbox.ttf);
}


@font-face{
    font-family: Eraser Regular;
    src: url(Eraser_Regular/Eraser_Dust.ttf);
}

body{
    background: rgba(255, 116, 61, 0.1);
    color: #404347;
    font-family: Lunchbox Regular;


    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 1080px;
    max-width: 1920px;
    cursor: url("cursor/cursor_normal.png"), auto;
}
#navbar{
    background: rgba(255, 116, 61, 1);
    margin-top: 0px;
    height: 60px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;


}
/* Grid Index Start */
.contenedor{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
 }
 .contenedor .titulo_niveles{
     grid-column-start: 1;
     grid-column-end: 4;
 }
 .contenedor .nino1{
     grid-column: span 1;
 }
 .contenedor .nina1{
     grid-column-start: 3;
     grid-column-end: 4;
 }
 .contenedor .footer{
    grid-column-start: 2;
    grid-column-end: 3;
 }
/* Grid Index End */
/* Grid Levels Start */

.contlvl{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    text-align: center;
}
.contlvl #niv{
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Grid Levels End*/

/* Grid Page 1 Start*/

.contpg1{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}
.contpg1 .titulo_niveles{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contpg1 .ingresar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.contpg1 .div_parr{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contpg1 #mujerAn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;;
}
.contpg1 .china{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;

}
.contpg1 #divRes1 .titulo_pregunta1{
    grid-area: header;
}
.audio_pg1_nv1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;

}
.contpg1-1{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;

    grid-template-rows: 1fr 2fr 1fr;
}

.contpg1-1 #divRes1 .titulo_pregunta{
    grid-row-start: 1;
    grid-row-end: 2;
}
/* Grid Page 1 End*/
/* Grid Page 1 level 2 Start*/
.contpg1_nv2{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}
.contpg1_nv2 .titulo_niveles{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contpg1_nv2 .div_parr{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contpg1_nv2 #mujerAnN2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.contpg1_nv2 .ingresar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.contpg1_nv2 .arnaav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.contpg1_nv2 .tarea{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
/* Grid Page 1 level 2 End*/
/* Grid Page 1 level 2 Start*/
.contpg1_nv3{
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}
.contpg1_nv3 .titulo_niveles{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contpg1_nv3 .div_parr{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contpg1_nv3 #mujerAnN3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.contpg1_nv3 .ingresar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.contpg1_nv3 .arnaav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.contpg1_nv3 .tarea{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
/* Grid Page 1 level 2 End*/
/* Grid Preguntas Start*/
/* Grid Page 3 End*/


.contPg3{
    width: 1920px;
    height:1080px ;
    margin: 20px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}
.contPg3 .textPg3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: start;
}
.contPg3 .botonPg3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: end;
    justify-self: end;
    margin-right: 20%;

}
.contPg3 .picPg3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}
.conPg3 #arnaav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;

}
.conPg3 .picPg3 #arnavvfeliz{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}

/* Grid Page 3 End*/
/* Grid Page 3 End*/


.contPg3lv2{
    width: 100%;
    max-width: 1920px;
    max-height:1080px ;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;

}
.contPg3lv2 .textPg3{
    grid-column-start: 2;
    grid-column-end: 3;
}
.contPg3 .botonPg3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contPg3lv2 .picPg3 .mapahch{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.contPg3lv2 .picPg3 .leroipg3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.contPg3lv2 .picPg3 .mystuff{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* Grid Page 3 End*/
/* Grid Page 4 Start*/
.conPg4{
    width: 100%;
    max-width: 1920px;
    max-height:1080px ;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 4fr 1fr 1fr;
}
.conPg4 #N1p4parr1{
    grid-row-start: 2;
    grid-row-end: 3;

}
.conPg4 .ingresar {
    grid-row-start: 4;
    grid-row-end: 5;
}
.conPg4 #divRes2 #titulo_pregunta2{
    grid-row-start: 1;
    grid-row-end: 2;
}
.conPg4 #divRes2 #resDivRes2{
    grid-row-start: 2;
    grid-row-end: 3;


}


/* Grid Page 4 End*/
/* Grid Data 1 Start*/
.conData1{
    width: 100%;
    max-width: 1920px;
    max-height:1080px ;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;


}



.conData1 #botones{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}
.conData1 #personitas{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;


}
.conData1 #info-escrita{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
.conData1 #PDbtnN1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;

}
.conData1 #textoinfdata1{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 2%;
}
/* Grid Data 1 End*/

.titulo_pregunta{
    text-align: center;
    position: relative;
    color: #43474C;
    font-size: 90px;
}


#navbar ul li {
    list-style-type: none;

}

#navbar ul li a{
    list-style-type: none;
    font-size:30px;
    color: white;
    padding-top: 3px;

}

h1{
    text-align: center;
    font-size: 80px;
    margin-top: 65px;
    position: relative;
}

#personajes{
    display:block;
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    opacity: 0;

}

#mujer_user{
    cursor: url("cursor/cursor_pointer.png"), auto;
    position: relative;
    float: right;
    margin-right: 10%;
    height: 400px;
    width: 400px;


}

#hombre_user{
    cursor: url("cursor/cursor_pointer.png"), auto;
    position: relative;
    float:left;
    margin-left: 10%;
}

#nombrepapa{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;



}




#nombre{
    font-family: Lunchbox Regular;
    width: 350px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    display:block;
    position:relative;
    margin-left: 300px;
    margin: 10px auto;
    color: #404347;
    padding: 10px 0px 0px 0px;
}
#saludo{
    font-size: 200px;
}
.ingresar{
    width: 150px;
    height: 60px;
    text-align: center;
    display:block;
    cursor: url('cursor/cursor_pointer.png'), auto;
    margin: 10px auto;
    font-size: 30px;
    font-family: Lunchbox Regular;
    padding: 5px 0px 0px 0px;
    color: #404347;
    background-color: #e1743d;
    box-shadow: -3px 3px #404347;
    border: solid #e1743d;
    border-radius: 5px ;
}

#inp{
    display: block;
}
.titulo_niveles{
  position: relative;
  margin-top: 0px;
  font-size: 80px;
  padding: 0px 15px;
}

#espacio{
    height: 15px;
}
#espacio2{
    height: 120px;
    position: sticky;
    text-align: center;
    top: 30px;
}
#espacio3{
    height: 500px;

    text-align: center;

}

#headerdatos{

    height: auto;




}

#bodyheader{
    height: 70%;
    position: sticky;
    top: 0px;
}

#headerdatos h1{
    font-size: 80px;
    margin: 10px;
    text-align: center;
    margin-top: 25px;
    padding: 10px;



}
#headerdatos #nro{
    font-size: 150px;
    margin: 0px;
    text-align: center;
    margin-top: 10px;
}

#titulo_slide4{
  position: relative;
  margin-top: 80px;
  font-size: 80px;
  color: #42424A;
  padding-top: 30px;
}

#letrasn{
    top: 0%;
    vertical-align: middle;
    font-size: 80px;
    color: #42424A;
    margin-bottom: 20px;
  }
#nro{
  position: relative;
  font-size: 100px;
  color: #C13B18;
}
#dato1{
  position: relative;
  margin-top: -80px;
  font-size: 55px;
  color: #42424A;
}
#dato2{
    position: relative;
    margin: 80px;
    padding: 120px;
    font-size: 55px;
    color: #42424A;
  }

.flex{
    display: flex;
    position: center;
}

.radio_q{
    width: 3em;
    height: 3em;
}

.radio_res{
    font-size: 50px;
}


.container{
    margin: 0 auto;
}
.form{
    height: 150px;
    width: 150px;
}

/*#btnA{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 100px;

  }
#btnB{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    margin-left: 210px;
  }
#btnC{
    background-color: #db5816;
    width: 300px;
    height: 130px;
    font-family: Lunchbox Regular;
    font-size: 30px;
    border-radius: 10px;
    float:right;
    margin-right: 100px;
  } */
.flex-container{
    display: inline-flex;
    width: 90%;
    justify-content: center;
}

.div_respuestas{
    cursor: url("cursor/cursor_pointer.png"), auto;
    background-color: #db5816;
    width: 300px;
    height: 200px;
    font-family: Lunchbox Regular;
    font-size: 35px;
    border-radius: 10px;
    margin: auto 87px;


}
.div_respuestas:hover{

    background-color: #c03600;
    transition-duration: 0.5s;
    color:#f8e9d3


}
.parr {
    font-size: 35px;
    height: auto;
    width: 100%;


}

#ninacomiendo{
    z-index: -20;

    top:0px;
    left:0px;
    opacity: 0.4;
}
.parent {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;

}

.div_parr{
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 100%;
    float: left;
    background-color: whitesmoke ;
    border-radius: 15px;
    padding: 10px 15px;
}

#divRes1{
    position: absolute;
    z-index: 2;
    top: 0px;
}


.sidenav {

    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(255, 116, 61, 1);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    font-family: Lunchbox Regular;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;

}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#nav{
    z-index: 10;
}

.pre-datos{
    font-size: 50px;
;
}

#containerSVG{
    height: 10%;
    width: 10%;
    display: flex;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;

}



svg{
    cursor: url("cursor/cursor_pointer.png"), auto;
}
.p{
    float: right;
    width: 20%;
    position: relative;
    align-items: flex-end;
}

#p1{
    position: relative;

}

.n1{
    position: absolute;
}

#p2{
    position: relative;

}

.n2{
    position: absolute;
}

#p3{
    position: relative;

}

.n3{
    position: absolute;
}

#p4{
    position: relative;

}

.n4{
    position: absolute;
}

#p5{
    position: relative;

}

.n5{
    position: absolute;
}

.triste{
    opacity: 0;
}

.feliz{
    opacity: 0;
}

.frase p{

    font-size: 30px;
    text-align: center;
    padding: 10 10;


}

.frase1{
    opacity: 0;
    position: relative;

    border: 5px solid #404347;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    cursor: url("cursor/cursor_pointer.png"), auto;
    width: 410px;
    transform: translate(-25%,20%);
    background-color: #ffffff95;

}
.n{
    color:#C13B18
}
.frase2{
    opacity: 0;
    position: relative;

    border: 5px solid #404347;
    text-align: center;
    border-radius: 10px;
    z-index: 8;
    cursor: url("cursor/cursor_pointer.png"), auto;
    width: 410px;
    transform: translate(-25%,50%);
    background-color: #ffffff95;

}

#bodypg4{
    height: 350%;
}

#mainContent{
    position: relative;
    top:-60px;
    width: 100%;
}
.playbtn{
  background-color: rgba(255, 116, 61, 1);
  border-radius: 5px;
  border-color: #404347;
  color: #404347;
  width: 80px;
  height: 30px;
  margin-left: 40px;
}
